::selection {
	background:#0084ff;
}

ul#menu-main > li > a:hover {
	color:rgba(215, 38, 61, 1);
}

ul#menu-main > li > a:focus,ul#menu-main > li > a:active, ul#menu-main > li > a.selected, ul#menu-main li a.selected:active {
	color:rgba(215, 38, 61, 1);
}

#header-wrapper h1 span {
    color:rgba(215, 38, 61, 1);
}

#header-wrapper h1 {
    color: #FFFFFF;
}

#header-wrapper h2 {
    color: #fff;
}

#header-wrapper input[type=submit] {
	background: rgba(249, 47, 57, 1) !important;
}

#theme-form input[type=submit] {
	background: rgba(249, 47, 57, 1) !important;
}

.btn.btn-theme {
	background: rgba(249, 47, 57, 1) !important;
}

.home-post .selected {
	background: rgba(249, 47, 57, 1);
}

.home-post .post-meta {
	background: rgba(249, 47, 57, 1);
}

.tabbable ul.nav-tabs li.active a,.tabbable ul.nav-tabs li a:hover {
	color: rgba(249, 47, 57, 1);
}
.accordion .accordion-heading a.active {
	color: rgba(249, 47, 57, 1);
}

.navbar .brand a {
    color: #fff;
}

ul#menu-main > li > a {
    color: #fff;
}

body {
	background: linear-gradient(rgba(34, 34, 34, .8), rgba(17, 17, 17, 1.0));
    color: white;
}

a {
	color: #0084ffff;
}

a:visited {
	color: #0084ffff;
}

a:hover, a:active { 
	color: #0084ffff;
}

.tbl-header{
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    color: #fff;
}

td {
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

div.tile {
    background: linear-gradient(to bottom, #0084ffff 0%,#0084ffcc 100%);
    box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.55);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

h2.pagetitle {
    color:#fff;
}

section.spacer {
	color:#fcfcfc;
	background:linear-gradient(to bottom,  #0084ffff 0%,#0084ff00 100%);
}

.spacer.services,.section.services {
	background:#f36f36;
}

section#about {
	background:linear-gradient(rgba(34, 34, 34, .8), rgba(17, 17, 17, 1.0));
	color: white;
}

section#services .service-box h2 {
    color: #f7f7f7;
}

section#services.section.services .service-box:hover {
	background:#f36519;
}

/*section#services .span3:hover {
	background:#e3e3e3;
}*/

footer {
	color: #ddd;
}

footer a {
    color: #ddd;
}

footer a:hover {
    color: #fff;
}