#  SPDX-License-Identifier: GPL-3.0-or-later
#
#  This file is part of Eruption.
#
#  Eruption is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  Eruption is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with Eruption.  If not, see <http://www.gnu.org/licenses/>.
#
#  Copyright (c) 2019-2023, The Eruption Development Team

[Unit]
Description=Effects proxy daemon for Eruption
Documentation=man:eruption-fx-proxy(1) man:fx-proxy.conf(5) man:eruptionctl(1)
BindsTo=graphical-session.target
Wants=graphical-session.target
After=graphical-session.target
# StartLimitIntervalSec=60
# StartLimitBurst=5

[Service]
Environment=RUST_LOG=warn
ExecStart=/usr/bin/eruption-fx-proxy -c /etc/eruption/fx-proxy.conf daemon
# PIDFile=/run/eruption-fx-proxy.pid
Type=exec
Restart=always
RestartSec=1
# CapabilityBoundingSet=CAP_NET_ADMIN
# AmbientCapabilities=CAP_NET_ADMIN
# ProtectHome=yes
# ProtectSystem=full
# ProtectKernelTunables=yes
# ProtectControlGroups=yes
# PrivateDevices=no
# PrivateTmp=yes

[Install]
WantedBy=graphical-session.target
