[Unit]
Description=Driver for ROCCAT Vulcan 100/12x series keyboards
Documentation=man:eruption(8) man:eruption.conf(5)
Wants=basic.target

[Service]
ExecStart=/usr/sbin/eruption -c /etc/eruption/eruption.conf
PIDFile=/run/eruption.pid
Type=exec
Restart=no
Nice=-4
ProtectHome=yes
ProtectSystem=full
ProtectKernelTunables=yes
ProtectControlGroups=yes
PrivateDevices=no
PrivateTmp=yes

[Install]
WantedBy=basic.target
