[Unit]
Description=Linux user-mode input and LED driver for keyboards, mice and other devices
Documentation=man:eruption(8) man:eruption.conf(5) man:eruptionctl(1) man:eruption-netfx(1)
Wants=basic.target

[Service]
ExecStart=/usr/bin/eruption -c /etc/eruption/eruption.conf
PIDFile=/run/eruption.pid
Type=exec
Restart=no
CPUSchedulingPolicy=rr
CPUSchedulingPriority=20
#ProtectHome=yes
#ProtectSystem=full
#ProtectKernelTunables=yes
#ProtectControlGroups=yes
#PrivateDevices=no
#PrivateTmp=yes

[Install]
WantedBy=basic.target
