[Unit]
Description=Linux user-mode driver for the ROCCAT Vulcan 100/12x series keyboards
Documentation=man:eruption(8) man:eruption.conf(5)
Wants=multi-user.target

[Service]
ExecStart=/usr/sbin/eruption -c /etc/eruption/eruption.conf
PIDFile=/run/eruption.pid
Type=exec
Restart=always
Nice=-4
#PrivateDevices=no
#PrivateTmp=yes
#ProtectSystem=full

[Install]
WantedBy=multi-user.target
