[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Eruption GUI
Comment=A simple GUI for the Eruption driver
Exec=/usr/bin/eruption-gui
Icon=keyboard-brightness-symbolic
Terminal=false