#    SPDX-License-Identifier: GPL-3.0-or-later
#
#    This file is part of Eruption.
#
#    Eruption is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Eruption is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Eruption.  If not, see <http://www.gnu.org/licenses/>.
#
#    Copyright (c) 2019-2022, The Eruption Development Team


[package]
name = "pyroclasm"
version = "0.0.2"
build = "build.rs"
authors = ["X3n0m0rph59 <x3n0m0rph59@gmail.com>", "The Eruption Development Team"]
edition = "2021"
description = "Pyroclasm UI for Eruption"
repository = "https://github.com/X3n0m0rph59/eruption.git"
homepage = "https://eruption-project.org"
keywords = ["eruption", "linux", "led", "driver", "gui", "egui"]
categories = ["hardware-support"]
license = "GPL-3.0-or-later"
readme = "README.md"
resolver = "2"

[features]
# default = [""]

[dependencies]
cfg-if = "1.0.0"
clap =  { version = "4.0.26", features = ["derive"] }
clap_complete = "4.0.5"
log = "0.4.17"
pretty_env_logger = "0.4.0"
libc = "0.2.137"
nix = "0.25.0"
walkdir = "2.3.2"
flume = { version = "0.10.14", features = ["async"] }
parking_lot = { version = "0.12.1", features = ["deadlock_detection"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.89"
tokio = { version = "1.22.0", features = ["full"] }
tracing = "0.1.37"
tracing-futures = "0.2.5"
# tracing-flame = "0.2.0"
tracing-subscriber = "0.3.16"
config = "0.13.2"
uuid = { version = "1.2.2", features = ["serde", "v4"] }
toml = "0.5.9"
indexmap = "1.9.2"
byteorder = "1.4.3"
lazy_static = "1.4.0"
palette = "0.6.1"
thiserror = "1.0.37"
eyre = "0.6.8"
color-eyre = "0.6.2"
paste = "1.0.9"
dbus = "0.9.6"
dbus-tokio = "0.7.5"
i18n-embed = { version = "0.13.4", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.6.4"
rust-embed = "6.4.2"
unic-langid = "0.9.1"
image = { version = "0.24", features = ["jpeg", "png", "webp"] }
egui = { version = "0.19.0", features = ["serde", "tracing"] }
egui_extras = { version = "0.19.0", features = ["serde", "tracing", "image", "svg", "datepicker"] }
egui-notify = "0.4"
egui_logger = "0.2.2"
egui-modal = "0.1.7"
egui_inspect = "0.1.3"
egui_file = "0.3.1"
egui_dock = "0.2.1"
# egui-datepicker = "0.3"
# egui_cable = "0.3.0"
# egui-bind = "0.4.0"
egui_hotkey = { version = "0.2.0", features = ["serde"] }
egui_commonmark = { version = "0.4.0", features = ["syntax_highlighting", "svg"] }
eframe = { version = "0.19.0", features = ["persistence"] }
tiny-skia = "0.8.2"
syntect = "5.0.0"
icecream = "0.1.0"
pretty_assertions = "1.3.0"

[dev-dependencies]
tokio = { version = "1.22.0", features = ["test-util"] }
