<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Eruption">
	<meta name="author" content="The Eruption Team">
	
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/themes/{{ theme }}/colors.css" rel="stylesheet">

	<link rel="shortcut icon" href="/img/favicon.png">
</head>

<body>
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<div class="logo">
						<h1 class="brand">
							<a href="/">
								<img class="logo" src="/img/icons/eruption.png" alt="" /> Eruption
							</a>
						</h1>
					</div>
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<li><a title="index" href="/">Home</a></li>
							<li><a title="profiles" href="/profiles">Profiles</a></li>
							<li><a title="settings" href="/settings">Settings</a></li>
							<li><a title="documentation" href="/documentation">Documentation</a></li>
							<li><a title="about" href="/about">About</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="container" style="margin-top:100px;">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										Welcome to Eruption
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Easy configuration UI
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Get the status of your device
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										And change its settings
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	<section id="about" class="section">
		<div class="container">
			<div class="row">
				<div class="span4 offset1">
					<div>
						<h2>Welcome to <strong>Eruption</strong></h2>
						<p>Eruption is a Linux user-mode driver for the ROCCAT Vulcan 100/12x series keyboards</p>
						<p>It consists of a daemon written in Rust, the core, an integrated Lua interpreter and 
							additional plugin components. Its intended usage is to execute Lua scripts that may 
							react to certain events on the system like e.g. "Key pressed" and subsequently 
							control the AIMO LEDs on the keyboard. Plugins may export additional functionality 
							to the Lua scripting engine.</p>
					</div>
				</div>
				<div class="span6">
					<div class="aligncenter">
						<i class="services icon-rocket"></i>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="services" class="section services animated">
		<div class="container">
			<div class="row">
				<div class="span3 animated-fast zoomIn">
					<div class="service-box">
						<i class="services icon-code"></i>
						<h2>Integrated Lua Interpreter</h2>
						<p>
							The integrated Lua virtual machine is responsible for executing the selected effects script.
						</p>
					</div>
				</div>
				<div class="span3 animated zoomIn">
					<div class="service-box">
						<i class="services icon-lightbulb"></i>
						<h2>AIMO LED Control</h2>
						<p>
							Control LED effects via Lua scripts.
						</p>
					</div>
				</div>
				<div class="span3 animated-fast zoomIn">
					<div class="service-box">
						<i class="services icon-bolt"></i>
						<h2>Event-Based Architecture</h2>
						<p>
							React to events on your system such as e.g. "Key pressed", and subsequently trigger effects from within Lua scripts.
						</p>
					</div>
				</div>
				<div class="span3 animated-slow zoomIn">
					<div class="service-box">
						<i class="services icon-plus-sign"></i>
						<h2>Support for Plugins</h2>
						<p>
							Extend Eruption with additional Plugins, expanding the capabilities of the Lua virtual machine even further
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">
					<ul class="social-networks">
						<li><a target="_blank" href="https://gitlab.com/X3n0m0rph59/eruption-roccat-vulcan/"><i class="icon-circled icon-bgdark icon-list icon-2x"></i></a></li>
					</ul>
					<p class="copyright">
						Copyright &copy; 2019 The Eruption Team
					</p>
				</div>
			</div>
		</div>
	</footer>

	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.nav.js"></script>
	<script src="/js/jquery.localScroll.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/isotope.js"></script>
	<script src="/js/jquery.flexslider.js"></script>
	<script src="/js/inview.js"></script>
	<script src="/js/animate.js"></script>
	<script src="/js/custom.js"></script>
</body>

</html>
