#  SPDX-License-Identifier: GPL-3.0-or-later
#
#  This file is part of Eruption.
#
#  Eruption is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  Eruption is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with Eruption.  If not, see <http://www.gnu.org/licenses/>.
#
#  Copyright (c) 2019-2023, The Eruption Development Team

# Eruption needs access to /dev/uinput to be able to inject events via the virtual devices
ACTION=="add|change", SUBSYSTEM=="misc", KERNEL=="uinput", RUN+="/usr/bin/setfacl -m u:eruption:rw %N", OPTIONS+="static_node=uinput"

# Stable links to Eruption virtual devices
ACTION=="add|change", ATTRS{name}=="Eruption Virtual Keyboard", SYMLINK+="input/by-id/eruption-virtual-keyboard"
ACTION=="add|change", ATTRS{name}=="Eruption Virtual Mouse", SYMLINK+="input/by-id/eruption-virtual-mouse"

# Tag the Eruption virtual devices as keyboard and mouse devices respectively
SUBSYSTEM=="input", ATTRS{name}=="Eruption Virtual Keyboard", ENV{ID_INPUT_KEYBOARD}="1"
SUBSYSTEM=="input", ATTRS{name}=="Eruption Virtual Mouse", ENV{ID_INPUT_TABLET}="0", ENV{ID_INPUT_TABLET_PAD}="0", ENV{ID_INPUT_MOUSE}="1"

ACTION=="remove", GOTO="eruption_end"

# Keyboard devices

# Wooting Two HE (ARM)
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="31e3", ATTRS{idProduct}=="1230", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Vulcan 100/120/121
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="307a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="3098", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Vulcan Pro
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="30f7", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Vulcan TKL
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2fee", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Vulcan Pro TKL
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="311a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Magma
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="3124", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# Corsair STRAFE Gaming Keyboard
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1b15", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# Mouse devices

# ROCCAT Kone Aimo
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e27", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kone Aimo Remastered
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e2c", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kone Pure Ultra
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2dd2", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kone Pro Air
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2c8e", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2c92", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Burst Pro
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2de1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kain 100
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2d00", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kain 2xx
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2d5f", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2d60", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kova AIMO
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2cf1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2cf3", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Kova 2016
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="0x2cee", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="0x2cef", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="0x2cf0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Nyth
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e7c", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e7d", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# Miscellaneous devices

# ROCCAT/Turtle Beach Elo 7.1 Air
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="3a37", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

# ROCCAT Aimo Pad Wide
ACTION=="add|change", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="343b", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service", RUN+="/usr/bin/setfacl -m u:eruption:rw %N"

LABEL="eruption_end"
