ACTION=="change", GOTO="eruption_end"
ACTION=="remove", GOTO="eruption_end"

# check for presence of lock file
TEST=="/run/lock/eruption-hotplug-helper.lock", GOTO="eruption_end"

# Keyboard devices

# ROCCAT Vulcan 100/120/121
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="307a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="3098", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Vulcan Pro
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="30f7", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Vulcan TKL
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2fee", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Vulcan Pro TKL
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="311a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# Corsair STRAFE Gaming Keyboard
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1b15", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"


# Mouse devices

# ROCCAT Kone Aimo
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e27", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Kone Aimo Remastered
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e2c", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Kone Pure Ultra
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2dd2", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Burst Pro
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2de1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Kova AIMO
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2cf1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2cf3", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

# ROCCAT Nyth
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e7c", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e7d", ATTRS{idProduct}=="2e7d", TAG+="systemd", ENV{SYSTEMD_WANTS}+="eruption-hotplug-helper.service"

LABEL="eruption_end"