#    This file is part of Eruption.
#
#    Eruption is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Eruption is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Eruption.  If not, see <http://www.gnu.org/licenses/>.
#
#    Copyright (c) 2019-2022, The Eruption Development Team


[package]
name = "eruption"
version = "0.2.0"
authors = ["X3n0m0rph59 <x3n0m0rph59@gmail.com>"]
edition = "2021"
description = "Realtime RGB LED Driver for Linux"
repository = "https://github.com/X3n0m0rph59/eruption.git"
homepage = "https://eruption-project.org"
license = "GPLv3+"
readme = "README.md"
resolver = "2"

[features]
default = [] #["mimalloc_allocator"]
mimalloc_allocator = ["mimalloc"]
profiling = ["coz"]

[dependencies]
mimalloc = { version = "0.1.29", optional = true, default-features = false }
coz = { version = "0.1.3", optional = true }
cfg-if = "1.0.0"
#flume = { version = "0.10.12", features = ["async", "eventual-fairness"]}
flume = { version = "0.10.14", features = ["async"] }
futures = "0.3.23"
parking_lot = { version = "0.12.1", features = ["deadlock_detection"] }
async-trait = "0.1.57"
#tracing = "0.1.26"
#tracing-futures = "0.2.5"
#tracing-subscriber = "0.2.20"
libc = "0.2.131"
nix = "0.25.0"
systemd = "0.10.0"
log = "0.4.17"
syslog = "6.0.1"
pretty_env_logger = "0.4.0"
thiserror = "1.0.32"
eyre = "0.6.8"
color-eyre = "0.6.2"
toml = "0.5.9"
serde = { version = "1.0.143", features = ["derive"] }
serde_json = "1.0.83"
tokio = { version = "1.20.1", features = ["full"] }
socket2 = { version = "0.4.4", features = ["all"] }
ctrlc = { version = "3.2.3", features = ["termination"] }
clap = "3.2.17"
hotwatch = "0.4.6"
config = "0.13.2"
hidapi = { git = "https://github.com/ruabmbua/hidapi-rs.git", branch = "master" }
udev = "0.6.3"
evdev-rs = "0.6.0"
hexdump = "0.1.1"
byteorder = "1.4.3"
itertools = "0.10.3"
rayon = "1.5.3"
lazy_static = "1.4.0"
rand = "0.8.5"
colorgrad = "0.6.1"
csscolorparser = { version = "0.6.2", features = ["serde"] }
palette = "0.6.1"
nalgebra = "0.31.1"
noise = "0.7.0"
simdnoise = "3.1.6"
#lua-src = "544.0.1"
#mlua = { version = "0.7.3", features = ["lua54", "vendored"] }
#luajit-src = "210.3.2+resty1085a4d"
#mlua = { version = "0.7.3", features = ["luajit52"] }
mlua = { version = "0.8.3", features = ["lua54"] }
sysinfo = "0.25.2"
procinfo = "0.4.2"
bincode = "2.0.0-rc.1"
rustfft = "6.0.1"
uuid = { version = "1.1.2", features = ["serde", "v4"] }
dbus = "0.9.6"
dbus-tree = "0.9.2"
paste = "1.0.8"
bitvec = "1.0.1"
serialport = "4.2.0"
crc8 = "0.1.1"
bytes = "1.2.1"
prost = "0.11.0"
prost-types = "0.11.1"
i18n-embed = { version = "0.13.4", features = ["fluent-system", "desktop-requester"] }
rust-embed = "6.4.0"
unic-langid = "0.9.0"
icecream = "0.1.0"

# ubuntu bionic
# sysinfo = "=0.14.2"

[dev-dependencies]
pretty_assertions = "1.2.1"
thiserror = "1.0.32"
tokio = { version = "1.20.1", features = ["test-util"] }

[build-dependencies]
prost-build = "0.11.1"
