#  SPDX-License-Identifier: GPL-3.0-or-later
#
#  This file is part of Eruption.
#
#  Eruption is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  Eruption is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with Eruption.  If not, see <http://www.gnu.org/licenses/>.
#
#  Copyright (c) 2019-2023, The Eruption Development Team

[package]
name = "eruption"
version = "0.4.0"
build = "build.rs"
authors = [
  "X3n0m0rph59 <x3n0m0rph59@gmail.com>",
  "The Eruption Development Team",
]
edition = "2021"
rust-version = "1.65"
description = "Realtime RGB LED Driver for Linux"
repository = "https://github.com/X3n0m0rph59/eruption.git"
homepage = "https://eruption-project.org"
keywords = ["eruption", "linux", "led", "driver"]
categories = ["hardware-support"]
license = "GPL-3.0-or-later"
readme = "README.md"
resolver = "2"

[features]
default = []                      #["mimalloc_allocator"]
mimalloc_allocator = ["mimalloc"]
profiling = ["coz"]
debug-async = []

[dependencies]
mimalloc = { version = "0.1.36", optional = true, default-features = false }
coz = { version = "0.1.3", optional = true }
cfg-if = "1.0.0"
flume = { version = "0.10.14", features = ["async"] }
parking_lot = { version = "0.12.1", features = ["deadlock_detection"] }
async-trait = "0.1.68"
tracing = "0.1.37"
tracing-journald = "0.3.0"
tracing-futures = "0.2.5"
tracing-log = { version = "0.1.3", features = ["env_logger"] }
tracing-subscriber = { version = "0.3.16", features = [
  "parking_lot",
  "registry",
  "env-filter",
] }
console-subscriber = { version = "0.1.8", features = ["parking_lot"] }
libc = "0.2.142"
nix = "0.26.2"
atty = "0.2.14"
syslog = "6.0.1"
thiserror = "1.0.40"
eyre = "0.6.8"
color-eyre = "0.6.2"
toml = "0.7.3"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
tokio = { version = "1.27.0", features = ["full", "tracing", "test-util"] }
socket2 = { version = "0.5.2", features = ["all"] }
ctrlc = { version = "3.2.5", features = ["termination"] }
clap = "4.2.4"
hotwatch = "0.4.6"
config = "0.13.3"
hidapi = { git = "https://github.com/X3n0m0rph59/hidapi-rs.git", rev = "a842fd6", default-features = false, features = ["linux-native"] }
udev = "0.7"
evdev-rs = "0.6.1"
hexdump = "0.1.1"
byteorder = "1.4.3"
indexmap = { version = "1.9.3", features = ["serde"] }
itertools = "0.10.5"
rayon = "1.7.0"
lazy_static = "1.4.0"
rand = "0.8.5"
colorgrad = "0.6.2"
csscolorparser = { version = "0.6.2", features = ["serde"] }
palette = "0.7.1"
nalgebra = "0.32.2"
noise = "0.8.2"
simdnoise = "3.1.6"
# lua-src = "544.0.1"
# mlua = { version = "0.8.8", features = ["lua54", "vendored"] }
luajit-src = "210.4.5"
mlua = { version = "0.8.8", features = ["luajit52", "vendored"] }
sysinfo = "0.28.4"
bincode = "2.0.0-rc.3"
rustfft = "6.1.0"
uuid = { version = "1.3.1", features = ["serde", "v4"] }
dbus = "0.9.7"
dbus-tree = "0.9.2"
paste = "1.0.12"
bitvec = "1.0.1"
serialport = "4.2.0"
crc8 = "0.1.1"
bytes = "1.4.0"
prost = "0.11.9"
prost-types = "0.11.9"
i18n-embed = { version = "0.13.8", features = [
  "fluent-system",
  "desktop-requester",
] }
rust-embed = { version = "6.6.1", features = ["compression"] }
unic-langid = "0.9.1"
icecream = "0.1.0"
same-file = "1"
systemd = "0.10.0"

# ubuntu bionic
# sysinfo = "=0.14.2"

[dev-dependencies]
pretty_assertions = "1.3.0"
thiserror = "1.0.40"
tokio = { version = "1.27.0", features = ["full", "tracing", "test-util"] }

[build-dependencies]
build-data = "0.1"
prost-build = "0.11.9"
